API_BASE_URL=http://localhost:8083
NEXT_PUBLIC_API_BASE_URL=http://localhost:8083
NEXT_PUBLIC_MAPBOX_ACCESS_TOKEN=CHANGE_ME
NEXT_PUBLIC_TURNSTILE_SITE_KEY=CHANGE_ME
USER_REFRESH_COOKIE_MAX_AGE=2592000
